{% extends "posts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section col-md-8 offset-md-2 col-12">
        <form method="POST" onsubmit="return validate()">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Post</legend>
                {{ form|crispy }}
            </fieldset>
            <fieldset id="img_no_update">
                <input type="file" id="image" accept="image/jpg, image/jpeg, image/png" >
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info float-right mb-2" type="submit">Post</button>
            </div>
        </form>
    </div>
    <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-storage.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-analytics.js"></script>
    
      <!-- Add Firebase products that you want to use -->
      <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-auth.js"></script>
      <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-database.js"></script>
      <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-firestore.js"></script>
    <script>
      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      var firebaseConfig = {
        apiKey: "AIzaSyB_bf4QWodwBnp3p_m7f-YMj7ysTKZ8wgc",
        authDomain: "coviassist.firebaseapp.com",
        databaseURL: "https://coviassist-default-rtdb.firebaseio.com",
        projectId: "coviassist",
        storageBucket: "coviassist.appspot.com",
        messagingSenderId: "1078994958917",
        appId: "1:1078994958917:web:a6f90cd1d2204e2633412c",
        measurementId: "G-95VJV43LR3"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
      </script> 
      <script defer>
          function validate(){
            var isOk = true;
            $('input[type=file][data-max-size]').each(function(){
                if(typeof this.files[0] !== 'undefined'){
                    var maxSize = 32154
                    size = this.files[0].size;
                    isOk = maxSize > size;
                    return isOk;
                }
            });
            if(isOk){
                
                const ref = firebase.storage().ref()
                var file = document.getElementById('image').files[0]
                const metadata= {
                    contentType:file.type
                }
                var title = document.getElementById('id_title').value
                var content = document.getElementById('id_content').value
                var uname = '{{ user }}'
                var name = parseInt('{{last_id.id}}')+1
                var next_post_id = parseInt(name)+1
                const task = ref.child(String(name)).put(file,metadata)
                //task.then(snapshot => snapshot.ref.getDownloadURL())
                //.then(url => console.log(url))
            }
            return isOk;
          }
          var currentUrl = window.location.href;
          currentUrl = currentUrl.split('/');
          if(currentUrl.includes('update')){
              document.getElementById('img_no_update').remove()
          }
      </script>
{% endblock content %}