{% extends "posts/base.html" %}
{% block content %}
<div class="content-section col-md-8 offset-md-2">
    <form method="POST">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Get Vaccinated</legend>
        </fieldset>
        <label class="p-1">State</label>  
        <select name="" id="id_of_states" class="input-group mb-3 rounded p-1 d-flex justify-content-center align-items-center border">
            <option value="">Select State</option>
        </select>
        <label class="p-1">City</label>  

        <select name="" id="id_of_cities" class="input-group mb-3 rounded p-1 d-flex justify-content-center align-items-center border">
            <option value="">Select City</option>
        </select>
        <label  class="p-1 col-12"> Date</label>
        <input type="date" id="start"
            max="2021-09-22" class="rounded p-1 border">

    </form>
    <br>
    <button id="go" class="btn btn-outline-info float-right mb-2 disabled align-items-center justify-content-center" onclick="vac_centers()">Submit</button>
  </div>
    <div class="content-section col-md-8 offset-md-2">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Available Centers</legend>
        </fieldset>
        <div class="row" id="vac">

        </div>
    </div>
<script>
    fetch('https://cdn-api.co-vin.in/api/v2/admin/location/states')
    .then(response => response.json())
    .then((data) => {
        for(let i=0;i<data['states'].length;i++){
            var option = document.createElement('option')
            option.setAttribute('value',`${data['states'][i]['state_id']}`)
            option.innerText = data['states'][i]['state_name']
            document.getElementById('id_of_states').appendChild(option)
        }
    });
    document.getElementById('id_of_states').addEventListener("change", ()=>{
        document.getElementById('id_of_cities').innerHTML = "<option>Select City</option>"
       fetch(`https://cdn-api.co-vin.in/api/v2/admin/location/districts/${document.getElementById('id_of_states').value}`)
       .then(response => response.json())
       .then((data) => {
        for(let i=0;i<data['districts'].length;i++){
            var option = document.createElement('option')
            option.setAttribute('value',`${data['districts'][i]['district_id']}`)
            option.innerText = data['districts'][i]['district_name']
            document.getElementById('id_of_cities').appendChild(option)
        }
        
    });
    });
    document.getElementById('id_of_cities').addEventListener("change", ()=>{
        document.getElementById('go').classList.remove('disabled')
    });
    vac_centers = () =>{
        const today = new Date
        let datenow = document.getElementById('start').value
        datenow = datenow.split('-')
        temp = datenow[0]
        datenow[0] = datenow[2]
        datenow[2] = temp
        datenow = datenow.join('-')
        fetch(`https://cdn-api.co-vin.in/api/v2/appointment/sessions/public/findByDistrict?district_id=${document.getElementById('id_of_cities').value}&date=${datenow}`)
       .then(response => response.json())
       .then((data) => {
           main_con = document.getElementById('vac')
           console.log(data['sessions'])

           for(let i=0;i<data['sessions'].length;i++){
                container = document.createElement('div')
                container.setAttribute('class','col-md-6 p-1')
                body = document.createElement('div')
                body.setAttribute('class','border rounded p-2')
                let name = document.createElement('div')
                name.setAttribute('class','card-title border-bottom h6')
                name.innerText = `${data['sessions'][i]['name']}`
                body.append(name)
                address = document.createElement('div')
                address.setAttribute('class','card-subtitle my-2 text-muted')
                address.innerHTML = `<i class="bi bi-geo-alt-fill"></i> ${data['sessions'][i]['address']}`
                body.appendChild(address)
                vaccine = document.createElement('div')
                vaccine.setAttribute('class','card-title')
                vaccine.innerHTML = `<span class='text-muted'>Vaccine -</span> ${data['sessions'][i]['vaccine']}`
                body.appendChild(vaccine)
                body.innerHTML+=  `<label class='col-12 h6 text-muted'>Slots</label>`
                var slot_table = document.createElement('table')
                slot_table.setAttribute('class','table table-hover')
                slot_table.innerHTML = `<thead class='table-light'>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Time</th>
                            </tr>
                        </thead>`
                var tbody = document.createElement('tbody')
                for(let j = 0; j<data['sessions'][i]['slots'].length;j++){
                    slots = document.createElement('tr')
                    slots.setAttribute('class','card-text')
                    slots.innerHTML = `
                            <th scope="row">${j+1}</th>
                            <td>${data['sessions'][i]['slots'][j]}</td>`
                    tbody.appendChild(slots)
                }
                slot_table.appendChild(tbody)
                body.appendChild(slot_table)
                container.appendChild(body)
                main_con.appendChild(container)
           } 
           
           
           
    });
    }
    const today = new Date
    let date_td = today.toLocaleDateString('ko-KR').replaceAll('. ','-').replace('.','')
    document.getElementById('start').setAttribute('min',`${date_td}`)
    document.getElementById('start').setAttribute('value',`${date_td}`)
</script>
{% endblock content %}